.header {
  position: relative;
  width: 1440px;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #0067A3;
}


.cube {
  position: absolute;
  width: 40px;
  height: 55px;
  right: 30px;
  background-color:#0067A3;
  padding: 10px;
}
.avatar {
  position: absolute;
  padding: 55px;
  background-image: url("./user-avatar.svg");
  background-repeat: no-repeat;
}

.header-title {
  position: absolute;
  width: 331px;
  height: 50px;
  left: 6px;
  top: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.container_section_1 {
    position: relative;
    background-color:#8798a0;
    display: flex;
    width: 1440px;
    height: 600px;
    left: 0px;
}
html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin: 6px 10px 6px 0;
}
.input-field_1 {
  position: relative;
  left: 20px;
}

.topic input {
  width:200px;
  height:30px;
  box-sizing:border-box;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}


.footer {
    position: relative;
    width: 1440px;
    height: 55px;
    left: 0px;
    top: 0px;

background: #0067A3;
}
.footer-text {
  position: absolute;
  width: 138px;
  height: 21px;
  left: 21px;
  top: 17px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.f-text1 {
  left: 21px;
}
.f-text2 {
left: 195px;
}
.f-text3 {
  width: 279px;
  left: 937px;
  }

.kanban-centered {
  position: relative;
  left: 0px;
  margin-bottom: 30px;
}
  .kanban-centered .kanban-entry {
      position: relative;
      margin: 10px 8px;
      clear: both;
      border-radius: 4px;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
  }

.kanban-label {
  position: relative;
  background: #f5f5f6;
  padding: 0.75em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.kanban-col {
  width: 300px;
  margin-right: 20px;
  float: left;
}

.panel-body {
  padding: 15px 0 0 0;
  overflow-y: auto;
}

.grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.panel-heading {
  cursor: context-menu;
}
.panel-heading i {
      cursor: pointer;
  }

body {
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  position: relative;
  background: #f5f6f6;
  padding: 1em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
