.header {
  position: relative;
  width: 1440px;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #0067A3;
}
.cube {
  position: absolute;
  width: 40px;
  height: 55px;
  right: 30px;
  background-color:#0067A3;
  padding: 10px;
}
.avatar {
  position: absolute;
  padding: 55px;
  background-image: url("./user-avatar.svg");
  background-repeat: no-repeat;
}

.header-title {
  position: absolute;
  width: 331px;
  height: 50px;
  left: 6px;
  top: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.container_section_1 {
    position: relative;
    background-color:#8798a0;
    display: flex;
    width: 1440px;
    height: 600px;
    left: 0px;
}
.input-field_1 {
  position: relative;
  left: 20px;
}

.topic input {
  width:200px;
  height:30px;
  box-sizing:border-box;
}

.description {
  margin-top:10px;
}
.description textarea {
  width:200px;
  height:100px;
  box-sizing:border-box;
}

.block_to_add {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid silver;
}

html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}
li {
  position: relative;
  background: #f5f6f6;
  padding: 1em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

ul>li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin: 6px 10px 6px 0;
}

.footer {
    position: relative;
    width: 1440px;
    height: 55px;
    left: 0px;
    top: 0px;

background: #0067A3;
}
.footer-text {
  position: absolute;
  width: 138px;
  height: 21px;
  left: 21px;
  top: 17px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.f-text1 {
  left: 21px;
}
.f-text2 {
left: 195px;
}
.f-text3 {
  width: 279px;
  left: 937px;
  }

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 3px;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  padding: 2px;
  transition: all .2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}

.kanban-centered {
  position: relative;
  margin-bottom: 30px;
}

  .kanban-centered:before, .kanban-centered:after {
      content: " ";
      display: table;
  }

  .kanban-centered:after {
      clear: both;
  }

  .kanban-centered:before, .kanban-centered:after {
      content: " ";
      display: table;
  }

  .kanban-centered:after {
      clear: both;
  }

  .kanban-centered:before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      top: 20px;
      bottom: 20px;
  }

  .kanban-centered .kanban-entry {
      position: relative;
      margin: 10px 8px;
      clear: both;
      border-radius: 4px;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
  }

.kanban-label {
  position: relative;
  background: #f5f5f6;
  padding: 0.75em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.kanban-col {
  width: 300px;
  margin-right: 20px;
  float: left;
}

.panel-body {
  padding: 15px 0 0 0;
  overflow-y: auto;
}

.grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.panel-heading {
  cursor: context-menu;
}

  .panel-heading i {
      cursor: pointer;
  }

body {
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}
/*___________________________________________*/

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  position: relative;
  background: #f5f6f6;
  padding: 1em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/*[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}*/
.column {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}
.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
  .column.over {
  border: 2px dashed #000;
}